*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body
{
    display: grid;
    min-height: 100vh;
    align-content: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    background-image: linear-gradient(to right, #001433, #00378a);
    row-gap: 4vmax;
    column-gap: 2vmax;
    overflow: hidden;
    padding-top: 12vh;
}

@media only screen and (max-width: 700px)
{
    body
    {
        padding-top: 0;
        column-gap: 1vmax;
    }
}

.button
{
    max-height: fit-content;
    font-size: 10vmax;
    border: none;
    background-color: transparent;
    font-family: sans-serif;
    color: #fff;
    opacity: 0.5;
    transition-property: opacity, font-size;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    cursor: pointer;
    line-height: 1;
    display: block;
    user-select: none;
}

.button:hover
{
    opacity: 0.8;
    
}

.output
{
    justify-self: center;
    color: #ddd;
    font-size: 10vmax;
    animation: change 0.3s ease;
    line-height: 1;
    min-width: 25vmax;
    text-align: center;
    /* mix-blend-mode: color-dodge; */
}

.button.reset
{
    grid-column: 1 / -1;
    justify-self: center;
}

@keyframes change
{
    from
    {
        transform: translateY(-100%);
        opacity: 0;
    }

    to
    {
        transform: translateY(0);
        opacity: 1;
    }
}

