@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
}

body
{
    background-color: #111;
    color: #eee;
}

header
{
    width: 100%;
    padding: 1.5rem;
    text-align: center;
}

header h1
{
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-family: 'Iceberg', cursive;
}

.filter-forms
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 20vw));
    place-content: center;
    padding: 1.5rem;
    gap: 2rem;
}

form
{
    display: grid;
    width: max-content;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    font-size: 1.6rem;
    width: 100%;
}

form :where(input[type="text"], input[type="search"])
{
    padding: 1rem;
    outline: none;
    font-size: 1.4rem;
    border: 2px solid #777;
    background: transparent;
    border-radius: 0.5rem;
    color: inherit;
    transition: border-color 0.3s ease;
}

form :where(input[type="text"], input[type="search"]):focus
{
    border-color: #003cff;
}

form.search-by-coords .coords-input
{
    grid-column: 1 / -1;
    border: 2px solid #777;
    border-radius: 0.5rem;
    padding-right: 1rem;
    transition: border-color 0.3s ease;
    display: flex;
    justify-content: space-between;
}

form.search-by-coords .coords-input:focus-within
{
    border-color: #003cff;
}

form.search-by-coords input
{
    max-width: 100px;
    border: none;
}

form.search-by-coords label
{
    justify-self: start;
}

form.search-by-coords button[type="reset"]
{
    grid-column: 1 / -1;
    width: max-content;
    justify-self: center;
    color: #ff5252;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    font-family: monospace;
    line-height: 0;
}

form.search-by-city
{
    grid-template-columns: 1fr;
}

form.search-by-city label
{
    justify-self: start;
}
